In [3]:
import pandas as pd

In [5]:
dates = pd.date_range('20190301',periods=6)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
import numpy as np

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])
df

                   A         B         C         D
2019-03-01  0.323769 -1.285817  2.147937  0.669713
2019-03-02 -0.566707 -1.983707 -1.499854 -1.059527
2019-03-03 -0.489086 -2.060032 -0.501145  0.257498
2019-03-04  0.967113 -0.416481 -0.000346  0.004139
2019-03-05  0.723185 -0.734447  1.825924 -0.389020
2019-03-06  0.296089 -0.856560 -0.177415 -0.107328

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
df.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.values

array([[ 3.23768524e-01, -1.28581717e+00,  2.14793690e+00,
         6.69712824e-01],
       [-5.66707309e-01, -1.98370707e+00, -1.49985421e+00,
        -1.05952673e+00],
       [-4.89086085e-01, -2.06003229e+00, -5.01145099e-01,
         2.57497660e-01],
       [ 9.67113161e-01, -4.16481431e-01, -3.45507134e-04,
         4.13872373e-03],
       [ 7.23184985e-01, -7.34446832e-01,  1.82592368e+00,
        -3.89020129e-01],
       [ 2.96088600e-01, -8.56559577e-01, -1.77414846e-01,
        -1.07328163e-01]])

In [13]:
df.describe

<bound method NDFrame.describe of                    A         B         C         D
2019-03-01  0.323769 -1.285817  2.147937  0.669713
2019-03-02 -0.566707 -1.983707 -1.499854 -1.059527
2019-03-03 -0.489086 -2.060032 -0.501145  0.257498
2019-03-04  0.967113 -0.416481 -0.000346  0.004139
2019-03-05  0.723185 -0.734447  1.825924 -0.389020
2019-03-06  0.296089 -0.856560 -0.177415 -0.107328>

In [15]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.209060 -1.222841  0.299183 -0.104088
std    0.624327  0.679217  1.410160  0.589115
min   -0.566707 -2.060032 -1.499854 -1.059527
25%   -0.292792 -1.809235 -0.420213 -0.318597
50%    0.309929 -1.071188 -0.088880 -0.051595
75%    0.623331 -0.764975  1.369356  0.194158
max    0.967113 -0.416481  2.147937  0.669713

In [17]:
df.sort_values(by='A')

                   A         B         C         D
2019-03-02 -0.566707 -1.983707 -1.499854 -1.059527
2019-03-03 -0.489086 -2.060032 -0.501145  0.257498
2019-03-06  0.296089 -0.856560 -0.177415 -0.107328
2019-03-01  0.323769 -1.285817  2.147937  0.669713
2019-03-05  0.723185 -0.734447  1.825924 -0.389020
2019-03-04  0.967113 -0.416481 -0.000346  0.004139

In [19]:
df.sort_values(by='A', ascending=False)

                   A         B         C         D
2019-03-04  0.967113 -0.416481 -0.000346  0.004139
2019-03-05  0.723185 -0.734447  1.825924 -0.389020
2019-03-01  0.323769 -1.285817  2.147937  0.669713
2019-03-06  0.296089 -0.856560 -0.177415 -0.107328
2019-03-03 -0.489086 -2.060032 -0.501145  0.257498
2019-03-02 -0.566707 -1.983707 -1.499854 -1.059527

In [20]:
df['A']

2019-03-01    0.323769
2019-03-02   -0.566707
2019-03-03   -0.489086
2019-03-04    0.967113
2019-03-05    0.723185
2019-03-06    0.296089
Freq: D, Name: A, dtype: float64

In [22]:
type(df['A'])

pandas.core.series.Series

In [23]:
df[0:3]

                   A         B         C         D
2019-03-01  0.323769 -1.285817  2.147937  0.669713
2019-03-02 -0.566707 -1.983707 -1.499854 -1.059527
2019-03-03 -0.489086 -2.060032 -0.501145  0.257498

In [24]:
df.loc['2019-03-01']

A    0.323769
B   -1.285817
C    2.147937
D    0.669713
Name: 2019-03-01 00:00:00, dtype: float64

In [26]:
df.loc['2019-03-01','A']

0.3237685235161355

In [29]:
df.loc['2019-03-01',['A']]

A    0.323769
Name: 2019-03-01 00:00:00, dtype: float64

In [30]:
df.loc['2019-03-01',['A','B']]

A    0.323769
B   -1.285817
Name: 2019-03-01 00:00:00, dtype: float64

In [31]:
df.loc['2019-03-01':'2019-03-02',['A','B']]

                   A         B
2019-03-01  0.323769 -1.285817
2019-03-02 -0.566707 -1.983707

In [32]:
df.loc[:,['A','B']]

                   A         B
2019-03-01  0.323769 -1.285817
2019-03-02 -0.566707 -1.983707
2019-03-03 -0.489086 -2.060032
2019-03-04  0.967113 -0.416481
2019-03-05  0.723185 -0.734447
2019-03-06  0.296089 -0.856560

In [35]:
df.iloc[0:2]

                   A         B         C         D
2019-03-01  0.323769 -1.285817  2.147937  0.669713
2019-03-02 -0.566707 -1.983707 -1.499854 -1.059527

In [38]:
df.iloc[[0,1,3],0:2]

                   A         B
2019-03-01  0.323769 -1.285817
2019-03-02 -0.566707 -1.983707
2019-03-04  0.967113 -0.416481

In [39]:
df['A']>0

2019-03-01     True
2019-03-02    False
2019-03-03    False
2019-03-04     True
2019-03-05     True
2019-03-06     True
Freq: D, Name: A, dtype: bool

In [40]:
df[df['A']>0]

                   A         B         C         D
2019-03-01  0.323769 -1.285817  2.147937  0.669713
2019-03-04  0.967113 -0.416481 -0.000346  0.004139
2019-03-05  0.723185 -0.734447  1.825924 -0.389020
2019-03-06  0.296089 -0.856560 -0.177415 -0.107328

In [41]:
df[df>0]

                   A   B         C         D
2019-03-01  0.323769 NaN  2.147937  0.669713
2019-03-02       NaN NaN       NaN       NaN
2019-03-03       NaN NaN       NaN  0.257498
2019-03-04  0.967113 NaN       NaN  0.004139
2019-03-05  0.723185 NaN  1.825924       NaN
2019-03-06  0.296089 NaN       NaN       NaN

In [42]:
df2 = pd.DataFrame(df, columns=['A','C','D','B'])
df2

                   A         C         D         B
2019-03-01  0.323769  2.147937  0.669713 -1.285817
2019-03-02 -0.566707 -1.499854 -1.059527 -1.983707
2019-03-03 -0.489086 -0.501145  0.257498 -2.060032
2019-03-04  0.967113 -0.000346  0.004139 -0.416481
2019-03-05  0.723185  1.825924 -0.389020 -0.734447
2019-03-06  0.296089 -0.177415 -0.107328 -0.856560

In [44]:
df['E'] = np.nan
df

                   A         B         C         D   E
2019-03-01  0.323769 -1.285817  2.147937  0.669713 NaN
2019-03-02 -0.566707 -1.983707 -1.499854 -1.059527 NaN
2019-03-03 -0.489086 -2.060032 -0.501145  0.257498 NaN
2019-03-04  0.967113 -0.416481 -0.000346  0.004139 NaN
2019-03-05  0.723185 -0.734447  1.825924 -0.389020 NaN
2019-03-06  0.296089 -0.856560 -0.177415 -0.107328 NaN

In [46]:
df.loc['2019-03-02',['E']] = 2
df

                   A         B         C         D    E
2019-03-01  0.323769 -1.285817  2.147937  0.669713  NaN
2019-03-02 -0.566707 -1.983707 -1.499854 -1.059527  2.0
2019-03-03 -0.489086 -2.060032 -0.501145  0.257498  NaN
2019-03-04  0.967113 -0.416481 -0.000346  0.004139  NaN
2019-03-05  0.723185 -0.734447  1.825924 -0.389020  NaN
2019-03-06  0.296089 -0.856560 -0.177415 -0.107328  NaN

In [48]:
df['F'] = df['A'] + df['B']
df

                   A         B         C         D    E         F
2019-03-01  0.323769 -1.285817  2.147937  0.669713  NaN -0.962049
2019-03-02 -0.566707 -1.983707 -1.499854 -1.059527  2.0 -2.550414
2019-03-03 -0.489086 -2.060032 -0.501145  0.257498  NaN -2.549118
2019-03-04  0.967113 -0.416481 -0.000346  0.004139  NaN  0.550632
2019-03-05  0.723185 -0.734447  1.825924 -0.389020  NaN -0.011262
2019-03-06  0.296089 -0.856560 -0.177415 -0.107328  NaN -0.560471